body {
    margin: 20px ;
    padding: 10px;
    width: 90%;
}

/* nav */

li{
  list-style-type: none;
  margin: 2vw 0;
  
  font-size: 2.5vh;
}

a{
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  padding: 2vw;
}

nav{
  width: 100vw;
  background-color: #C8E3FF;
}

ul{
  display: block;
  margin: 0;
  padding: 0;
  display: flex;  
}

button{
  display: none;
}

a:hover{
  background-color: #B1D0F1;
}

@media only screen and (max-width: 1000px) {
  ul{
    flex-direction: column;
  }
  a{
    display: block;
  }
  li{
    margin: 0;
  }
  button{
    display: block;
    padding: 2vw;
    font-size: 3vh;
    background-color: #C8E3FF;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-start;
  }
}

/*change the layout of the navigation bar for all the screens 
that have a width less or equal than 500px*/

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 20px;
}
h2 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 20px;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    padding: 15px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
