<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="jquery-3.4.0.min.js"></script>
			<script src="scripts/navbar.js"></script> 
		</head>
		<body>
			<nav>
	    		<ul>
				 	<!-- button here -->
      					<button> 🞬 </button>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/publications">Publications</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ava.cutler@gmail.com">email</a></li>
	        		<li><a href="https://www.linkedin.com/in/ava-h-c/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
		
		<script>
			/* only execute this script when the document is ready */
			$(document).ready(function(){
  				/* function called when you click of the button */
  				$("button").click(function(){
      
      					/* this if else to change the text in the button */
      					if($("button").text() == "☰"){
       						$("button").text("🞬");
      					}else{
        					$("button").text("☰");
      					}
    
    				/* this function toggle the visibility of our "li" elements */
    				$("li").toggle("slow");
  				});
			});
		</script>
	</html>

