<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="jquery-3.4.0.min.js"></script>
			<script src="scripts/navbar.js"></script> 
		</head>
		<body>
			<nav>
				<div class="flex-row-reverse" id="navbarNavAltMarkup">
	    				<ulul class="navbar-nav">
				 			<!-- button here -->
      							<button> ☰ </button>
				
	        				<li><a href="/">Home</a></li>
		        			<li><a href="/about">About</a></li>
	        				<li><a href="/cv">CV</a></li>
	        				<li><a href="/publications">Publications</a></li>
	    				</ul>
				</div>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ava.cutler@gmail.com">email</a></li>
	        		<li><a href="https://www.linkedin.com/in/ava-h-c/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
		

	</html>

